@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-gradient-to-bl from-red-900 to-pink-600;
    font-family: 'Prompt', sans-serif;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

@font-face {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 400;
    src: local("Prompt"), local("Prompt"),
    url("/Prompt-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "K2D";
    font-style: normal;
    font-weight: 400;
    src: local("K2D"), local("K2D"),
    url("/K2D-Regular.ttf") format("truetype");
}

@keyframes drop {
    from {
        opacity: .25;
        transform-origin: 50% 50%;
        transform: rotate(25deg) scale(5) translate(-40px, 70px);
        transition: all ease-in;

        filter: drop-shadow(40px -70px 20px black);
    }
    to {
        opacity: .8;
        transform: rotate(-15deg) scale(1);
        filter: drop-shadow(0 4px 4px black);
    }
}